.navbar-default {
    background-color: #fff;
    border-color: #fff;
}

.navbar {  
    border: 1px solid transparent;
}
.navbar ul{
    margin-top: 32px;
}
.navbar-default .navbar-nav>li>a {
    color: red;
    background-color: #fff;
    font-family: 'Lobster', cursive;
    font-size: 25px;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #dd4b2b;
    border-radius: 45px;
}
.navbar-default .navbar-nav > li > a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(221, 75, 43);
    border-radius: 45px;

}

.logo{
    height: 150px;

}

